* {
    box-sizing: border-box;
}

nav {
    background-color: #30475e;
    color: #f1935c;
}

i {
    margin-left: 5px;
}

nav a {
    color: #f1935c;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #e7b2a5;
    text-decoration: none;
}

.dropdown-item {
    margin: 0;
}

.derecho {
    margin-left: 62%;
}

#cover {
    position: relative;
    width: 100%;
}

#cover img {
    width: 100%;
    height: 592px;
}

#cover #text {
    position: absolute;
    top: 150px;
    left: 338px;
    width: 50%;
}

#cover h2 {
    border: 10px groove #30475e;
    text-align: center;
    text-transform: uppercase;
    color: #30475e;
    padding: 30px 20px 30px 20px;
    font-size: 58px;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(186, 107, 87, 0.7);
}

#productos {
    background-color: #fcfcfc;
    padding: 30px;
}

#productos h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #ba6b57;
}

.card {
    width: 300px;
    background-color: #30475e;
    color: #f1935c;
    float: left;
    margin: 5%;
}

.card img {
    width: 100%;
    height: 180px;
}

.card-title {
    text-align: center;
}

.card-title a {
    color: #f1935c;
    text-decoration: none;
}

.card-text {
    text-align: justify;
}

.btnPro {
    background-color: #f1935c;
    color: #30475e;
    font-weight: bold;
    margin-left: 33%;
}

.btnPro:hover {
    text-transform: uppercase;
    color: #30475e;
}

#productoBody {
    background-image: url('../assets/fondoProducto.jpg');
}

.derechoProducto {
    margin-left: 69%;
}

.info {
    width: 80%;
    margin: 5% 0 0 10%;
    background-color: #e7b2a5;
    border: 5px dashed #ba6b57
}

.imgProduct {
    padding: 2% 0 2% 3%;
}

.imgProduct img {
    width: 100%;
    height: 400px;
}

.productText {
    padding: 2%;
    color: #30475e;
}

.productText h3 {
    text-align: center;
    font-weight: bold;
}

.productText p {
    font-size: 20px;
}

.btnO {
    background-color: #ba6b57;
    color: #30475e;
    border: none;
    padding: 2%;
    font-weight: bold;
    margin-left: 34%;
    margin-top: 2%;
}

.btnO:hover {
    background-color: #30475e;
    color: #ba6b57;
}

.btnLogin {
  background-color: #ba6b57;
  color: #30475e;
  border: none;
  font-weight: bold;
  padding: 5px;
}

.btnLogin:hover {
  background-color: #30475e;
  color: #ba6b57;
}

.main-section {
  margin: 0;
  margin-top: 40%;
  margin-left: 15%;
  padding: 0;
}

.modal-content {
  background-color: #30475e;
  color: #f1935c;
  padding: 30px;
}

.form-group {
  padding-top: 20px;
}

.form-group input {
  height: 42px;
  font-size: 18px;
  border: 0;
  padding-left: 54px;
  border-radius: 5px;
}

.form-group::before {
  font-family: "Font Awesome\ 5 free";
  position: absolute;
  left: 28px;
  font-size: 22px;
  padding-top: 4px;
}

.form-group#user-group::before {
  content: "\f007";
}

.form-group#password-group::before {
  content: "\f023";
}
