* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/fondoProducto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #304755;
    margin-top: 3%;
    padding: 3%;
}

#header {
    width: 40%;
    background-color: #F3F3F3;
    margin-left: 30%;
    padding: 2%;
    text-align: center;
    font-weight: bold;
    color: #BA6B57;
}

#header h1 {
    margin-bottom: 13px;
}

#header h1 i {
    margin-left: 10px;
}

#header a {
    color: #BA6B57;
    margin: 0 10px 0 10px;
    padding: 5px;
    border: 3px solid #304755;
}

#header a:hover {
    text-decoration: none;
    background-color: #304755;
    color: #e7b2a5;
}

#header a.active {
    color: #e7b2a5;
    background-color: #304755;
}

#panel {
    background-color: #F3F3F3;
    padding: 3%;
}

#panel h2 {
    text-align: center;
    text-transform: uppercase;
    color: #BA6B57;
}

#tp {
    margin-top: 3%;
}

.row {
    margin-top: 2%;
}

.topImg {
    width: 200px;
    height: 200px;
    margin-left: 18%;
}

.col-md-4 h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.col-md-4 p {
    margin-left: 28%;
}

.spedidos {
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
}

.sprecio {
    margin-left: 15%;
}