* {
    box-sizing: border-box;
}

body {
    background-image: url('../assets/fondoProducto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    background-color: #304755;
    margin-top: 3%;
    padding: 3%;
}

#header {
    width: 55%;
    background-color: #F3F3F3;
    margin-left: 22%;
    padding: 2%;
    text-align: center;
    font-weight: bold;
    color: #BA6B57;
}

#header h1 {
    margin-bottom: 13px;
}

#header h1 i {
    margin-left: 10px;
}

#header a {
    color: #BA6B57;
    margin: 0 10px 0 10px;
    padding: 5px;
    border: 3px solid #304755;
}

#header a:hover {
    text-decoration: none;
    background-color: #304755;
    color: #e7b2a5;
}

#header a.active {
    color: #e7b2a5;
    background-color: #304755;
}

#header a.cerrarS {
    color: #fe2222;
}

#header a.cerrarS:hover {
    background-color: #fe2222;
    color: #f4f4f4;
}

#panel {
    background-color: #F3F3F3;
    padding: 3%;
}

#panel h2 {
    text-align: center;
    text-transform: uppercase;
    color: #BA6B57;
}

.btnAdd {
    background-color: #30ad34;
    border: 3px solid #304755;
    color: #f4f4f4;
    text-transform: uppercase;
    margin: 2% 0 2% 40%;
}

#tp {
    margin-top: 3%;
}

.row {
    margin-top: 2%;
}

.topImg {
    width: 200px;
    height: 200px;
    margin-left: 18%;
}

.col-md-4 h3 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.col-md-4 p {
    margin-left: 28%;
}

.spedidos {
    margin-left: 5%;
    font-weight: bold;
    font-size: 20px;
}

.sprecio {
    margin-left: 15%;
}


/*Add platillo*/

.formContainer {
    background-color: #F3F3F3;
    padding: 3%;
}

.formContainer h2 {
    text-align: center;
    color: #304755;
    font-weight: bold;
}

.formContainer form {
    margin-top: 3%;
}

.form-group label {
    font-weight: bold;
    color: #304755;
}

.form-group textarea {
    height: 110px;
}

.form-group input[type="text"]:focus,
.form-group textarea:focus {
    border: 3px solid #BA6B57;
    outline: none !important;
}


/*Update platillo*/

#imgLabel {
    display: block;
}

.imgForm {
    width: 100px;
    height: 100px;
}

.btnUpd {
    background-color: #3065ad;
    border: 3px solid #304755;
    color: #f4f4f4;
    text-transform: uppercase;
    margin: 2% 0 2% 40%;
    padding: 10px;
}


/*Panel ingredientes*/

#ingrePanel {
    background-color: #F3F3F3;
    padding: 3%;
}

#ingrePanel h2 {
    text-align: center;
    text-transform: uppercase;
    color: #BA6B57;
}